html body { 
  overflow-y: hidden; 
}

.quote {
  font-style: italic;
  text-align:center;
  font-weight:600;
  margin-bottom:2px;
}

h1 {
  text-align:center;
}

.centered {
  text-align:center;
}

.blue {
  color: #2f5496;
}

.quote-credit {
  text-align:center;
  font-weight:500;
  font-size:13px;
}

.header {
  padding-top:10px;
}

.scrollable {
  height: 100%;
  overflow: scroll;
  max-height:90vh;
  text-align:justify;
}

::-webkit-scrollbar { 
  display: none; 
}