html body { 
  overflow-y: hidden; 
  overflow-x: hidden;
}

body {
  position:relative;
}

.quote {
  font-style: italic;
  text-align:center;
  font-weight:600;
  margin-bottom:2px;
}

h1 {
  text-align:center;
}

.centered {
  text-align:center;
}

.blue {
  color: #2f5496;
}

.quote-credit {
  text-align:center;
  font-weight:500;
  font-size:13px;
}

.scrollable {
  height: 100%;
  overflow: scroll;
  min-height:90.5vh;
  max-height:90.5vh;  
}

.justified {
  text-align:justify;
}

.main {
  padding-top:10px;
}

::-webkit-scrollbar { 
  display: none; 
}

@media (min-width: 1200px) { 
  .footer:before {
    content:'';
    width:100%;
    height:93vh;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 86vh, white);
  }
 }
